#crud-table td {
  white-space: nowrap;
  vertical-align: middle;
}

.crud-paging.form-inline .form-control.form-sm-inline{
  display: inline-block !important;
  width: auto!important
}
.crud-paging.form-inline .input-group.form-sm-inline{
  width: auto!important;
  display:inline-flex;
}

#crud-table th[data-column]{
  padding-right: 1.8em;
  position: relative;
}

#crud-table th .arr{
  color: #ddd;
  font-family: sans-serif;
  width: 0.2em;
  display: inline-block;
}

#crud-table th .arr.active{
  color: #000;
}

#crud-table th .arrs{
  display: inline-block;
  position: absolute;
  right: 0.6em;
}

.crud-loading{
  font-size: 2em;
}

.bulk-action, .bulk-action-trash{
  display: none;
}
